<table>
	<caption>Chat</caption>
	<thead>
		<tr>
			<th>Username</th>
			<th>Message</th>
		</tr>
	</thead>
	<tbody>

	</tbody>
</table>
<form id="new-message">
	<input type="text" name="username" placeholder="username" id="username" />
	<input type="text" name="message" placeholder="message" id="message" />
	<a id="send">Send</a>
</form>