<div class="quest-item">
	<input id="quest-complete" type="checkbox" {{#if completed}} checked="checked" {{/if}} />
	<label>{{title}}</label>
	<button class="destroy"></button>
	<input class="edit" placeholder="{{title}}" />
</div>